body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.blueGradient{
  background-image: linear-Gradient(to right,#02101f,#006699)!important;
}
.active{
  color:white !important;
  filter: brightness(100%) !important;
}
.inactive{
  color:white !important;
  filter: brightness(60%);
}
.left-nav:hover{
  color:white !important;
  filter: brightness(100%) !important;
}

.loading{
  margin-top: 25%;
  font-weight: bold;
  text-align: center;
  
}


